{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center caja">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center mb-4">Crear vacas</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ error }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
